<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Link Shortener</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <h1>Link Shortener</h1>
  </header>
  <main>
    <input type="text" id="url-input" placeholder="Enter a URL to shorten">
    <button id="shorten-btn">Shorten</button>
    <p id="shortened-url"></p>
  </main>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>